/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--height-header);
    background-color: gainsboro;
    border-collapse: collapse;
    padding: 1rem;
}

nav a,
.mobile-menu a {
    color: #000;
}

nav .hamburger {
    display: none;
}

nav .menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.mobile-menu {
    display: none;
}

@media only screen and (max-width: 700px) {
    nav .hamburger {
        display: block;
        margin: 0;
    }

    nav .menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        gap: 1rem;
        transition: all 1s ease;
        max-height: 0;
        overflow: hidden;
        background-color: gainsboro;
    }
    
    .mobile-menu.open {
        max-height: 50vh;
      }
    
    .mobile-menu a {
        padding: .5rem;
    }
}
